/* Basic layout */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar);
  color: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo styling */
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text-heading);
}

/* Navigation links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li a {
  color: var(--text-heading);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00bcd4;
}

.ham-menu { 
  display: none;
}

button{
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .ham-menu {
    display: block;
  }
  .nav-link-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: var(--home-bg2); ;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    list-style: none; 
  }

  .nav-link-mobile li {
    margin: 0.5rem 0;
  }

  .nav-link-mobile li a {
    font-size: 1.2rem;
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-link-mobile li a:hover {
    color: #fff;
  }
}
