.skills-section {
  background-color: rgb(20, 20, 20);
  color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #00bfff;
  margin-bottom: 40px;
}

.skills-category {
  margin-bottom: 50px;
}

.category-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background-color: #1a1f2e;
  border: 2px solid #4da6ff;
  border-radius: 12px;
  padding: 20px;
  width: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 30px;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #4da6ff;
}

.skill-icon {
  font-size: 2.5rem;
  color: #00bfff;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 1.2rem;
  color: #4da6ff;
}
